*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sheared styles */


.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: white ;

}
.section_heading{
    max-width: 827px;
    text-align: center;
    margin: 0px auto;
}
.section_heading p{
       margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}
.section_heading h2{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}


             /* Main styles */
.font-open-sans {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url("../images/developer.png") , url("../images/header_bg.png") ;

    background-position: top left,bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 71%;
    max-width: 1140px;
    
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
   cursor: pointer;
    align-items: center;
}
.logo{
    font-weight: 800;
    font-size: 45px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 51px;

}
/* bullet opoint remove */
.menu  {
     list-style: none;
    
}
/* underine remove */
.menu a{
    text-decoration: none;
}
/* r coloring */
.orange{
    color: #FD6E0A;

}

.banner{
    display: flex;
    
    width: 1332px;
    max-width: 1332px;
    justify-content: space-between;
    align-items: center;
    margin-left: 230px;
    margin-right: 38px;
    margin-top: 36px;
}
.banner_content{
    width: 585px;
    
    
}
.banner_content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: 5px;
}
.banner_content h1{
    color: #181818;
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner_content p{
    color: #757575;
    font-weight: 18px;
    line-height: 30px;
    margin-bottom: 30px ;
}
.banner_image {
    display: flex;
}
.button{
    display: flex;
    
}
.btn1{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: white ;
    margin-left: 30px;
    
}
#about{
   
    padding-top: 130px;
  
}
#about .about_container{
    width: 71%;
   
    max-width: 1130px;
    margin: 0px auto;
    text-align: center;
     background-color: #FFF8F3;
     padding: 130px 156px;
}

.about_card{
    display: flex;
    justify-content: space-around ;
}
#about .about_card .card p{
    line-height: 30px;
    color:#757575;

}
#about .about_card .card h4{
    font-size: 20px;
    color: #474747;
    line-height: 30px;
}
/* self trysa */



#skills{
    padding-top: 130px;
}
#skills .skills_container{
    

    width:71%;
    max-width: 1140px;
    margin: 0px auto;
}
#skills .skills_container .skill_box{
    display: flex;
     gap: 20px;
}
.skill_box .skill_card{
    padding: 30px;
   
    box-shadow: 0px 6px 50px 0px #00000028;
   

}
.skill_card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill_card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #181818;
}
.skill_card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}


/* resume section . */


#resume{
    margin-top: 130px;

}
#resume .resume_container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
}
#resume .resume_container .resume_box{

    display: flex;
    gap: 20px;
}
#resume .resume_container .resume_box .resume_card {
    width: 585px;
}
#resume .resume_container .resume_box .resume_card h2{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;

}
#resume .resume_container .resume_box .resume_card h3{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
   
}
#resume .resume_container .resume_box .resume_card h5{
    color: #757575 ;
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;

}
#resume .resume_container .resume_box .resume_card p{
  color: #757575;
  font-size: 16px;
  line-height: 28px;
  width: 511px;
  height: 84px;
  margin-bottom: 60px;

}
#resume .resume_container .resume_downlaod{
    margin: 0px auto;
    text-align: center;
}
